<div class="newButton btn-group dropup">
    <!--<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        New
    </button>-->

    <button type="button" class="btn btn-secondary bmd-btn-fab" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-plus"></i>
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="training/upload">Training</a>
        <a class="dropdown-item" href="evaluation/model">Evaluation</a>
        <a class="dropdown-item" href="datasets">Dataset</a>
    </div>
</div>
<app-dashboard1></app-dashboard1>
