<div class="jumbotron">
        <div class="insideJumbotron">
            <h1 class="display-4">Welcome to NNT!</h1>
            <p class="lead">This is a platform to train and evaluate neural networks.</p>
            <hr class="my-4">
            <p>You don't have any jobs right now.<br>What do you want to do?</p>
            <a href="dashboard" class="btn btn-outline-secondary" role="button" aria-pressed="true">Show Jobs</a>
            <div class="divider"></div>
            <a href="datasets" class="btn btn-outline-secondary" role="button" aria-pressed="true">Upload Data</a>
            <div class="divider"></div>
            <a href="training/upload" class="btn btn-outline-secondary" role="button" aria-pressed="true">Start Training</a>
            <div class="divider"></div>
            <a href="evaluation/model" class="btn btn-outline-secondary" role="button" aria-pressed="true">Start Evaluation</a>
        </div>
        <i class="fas fa-code-branch fa-rotate-180"></i>

    </div>