<div class="jumbotron">
        <h1 class="display-4">Welcome to NNT!</h1>
        <p class="lead">This is a platform to train and evaluate neuronal networks.</p>
        <hr class="my-4">
        <p>You don't have any jobs right now.<br>What do you want to do?</p>
        <a href="datasets" class="btn btn-outline-secondary" role="button" aria-pressed="true">Upload Data</a>
        <a href="training" class="btn btn-outline-secondary" role="button" aria-pressed="true">Start Training</a>
        <a href="evaluation" class="btn btn-outline-secondary" role="button" aria-pressed="true">Start Evaluation</a>
</div>