/* ------ GENERAL ----------*/

body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

h2 {
    margin-top: -10px;
    margin-left: 5px;
    background: white;
}

.uploadButtonSpan {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

table.table.table-striped {
    /*display: block;
    height: 560px;
    overflow-y: scroll;
    border: 1px solid black;*/
    /*border-radius: 30px;*/
}

.pre-scrollable {
    max-height: 476px;
}

#sidebar-wrapper {
    /*min-height: 100vh;*/
    min-height: 93vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 18rem;
}

div#sidebar-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 18%;
}

div#wrapper {
    height: 100%;
}

.list-group {
    min-height: 92vh;
    border-radius:.25rem;
    border: 1px solid rgba(0,0,0,.125);
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    width: 80% !important;
    overflow: auto;
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.card {
    display: inline-block;
    vertical-align: top;
    width: 87rem;
    overflow: auto;
    /*border: 1px solid black;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;*/
    position: relative;
}

legend {
    width: auto;
}

#uploadButtonDiv {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#container {
    position: relative;
}

/* ------------ BUTTONS ----------- */

#uploadButtonDiv .btn {
    margin-top: 15px;
}

#uploadButton {
    opacity: 0;
}

/* ----------- ICONS -------------- */

#uploadButtonDiv > i.fas.fa-layer-group {
    font-weight: 900;
    font-size: 169px;
    color: grey;
    padding: 20px;
}

i.fas.fa-file-upload.sidebaricon {
    font-size: 24px;
    float: right;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.newDatasetButtons {
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.cancelSaveButtons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.datasetNameInputs {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.explanationDiv {
    text-align: center;
    height: auto;
    padding-bottom: 10px;
    background-image: linear-gradient(to top, #f8f9fa5c 0%, #e6e6e6 90%);
}

.carousel-indicators li {
    background-color: #007bff;
}

i.fas.fa-chevron-right, i.fas.fa-chevron-left {
    color: #007bff;
}

.carousel {
    position: unset;
}

#uploadButtonDiv > .fa-layer-group:before {
    text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pre-scrollable.listPreScrollable {
    min-height: 92vh;
    width: 328px;
}

.noheaders {
    display:none;
}

.textInput{
    margin-right: 5px;
    margin-left: 5px;
    width: 300px;
    display: inline-block;
}

.indicatorsHidden {
    display:none;
}

.cancelButton {
    position: absolute;
    right: 20px;
    top: inherit;
    margin-top: 20px;
    z-index: 200;
}

.carousel-item {
    margin-top: 10px;
}

.carouselContent {
    margin-bottom:10px;
}

.createViewButton {
    position: absolute;
    top: 64px;
    right: 21px;
}

.fullSizeTable {
    max-height: 55vh;
}

.halfSizeTable {
    max-height: 555px;
}

.headerCheckDiv {
    margin-top: 10px;
    margin-bottom:10px;
}

.dsButtons {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-height:885px) {
    .halfSizeTable {
        max-height: 462px;
    }
}