.timeline{
    float:left;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    /*width: 15%;*/
    width:7%;
    min-height: 93vh;
    transition: margin .25s ease-out;
}

fieldset {
     display: inline-block;
    vertical-align: top;
    width:91% !important;
    overflow: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    position:relative;
    height: 91vh;
}

div.wrapper {
    height: 100%;
    padding-top: 50px;
}

.directionButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
}